<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Swoop and Sauce demo tests" parallel="tests">
    <test name="SwoopRegression Tests">
        <groups>
            <run>
                <include name="SwoopRegression"/>
            </run>
        </groups>
        <classes>
            <class name="ge.tbc.tbcacademy.swoop.OfferTests"/>
        </classes>
    </test>

    <test name="SauceDemoLogin Tests">
        <groups>
            <run>
                <include name="SauceDemoLogin"/>
            </run>
        </groups>
        <classes>
            <class name="ge.tbc.tbcacademy.saucedemo.LoginTests"/>
        </classes>
    </test>
</suite>

